@font-face {
   font-family: 'armedlightning';
   font-display: swap;
   src: url('file:///C:/Users/bnide/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-09_214408/fonts/armedlightning/font.ttf');
}
